
.black {
  background-color: #000;
}

.container{
    max-width: 1280px !important;
    color: #fff;
    display: flex;
    justify-content: center;
    margin: 0 auto;

    align-items: baseline;
    flex-wrap: wrap;
    padding: 0 16px;
} 


.Left {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.logo{
    font-size: 30px;
    font-weight: bold;
    color: yellowgreen;
    margin-bottom: 20px;
}

.Desc {
  margin: 20px 0px;
}
.SocialContainer {
  display: flex;
}
.SocialIcon{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  background-color: rgb(3, 39, 3);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

#facebook:hover{
  background-color: #3b5998;
}
#linkedin:hover{
  background-color: #0077b5;
}
#twitter:hover{
  background-color: #55acee;
} 
#discord:hover{
  background-color: #7289da;
}


.Center {
  flex: 1;
  padding: 20px;
}
.Title{
    margin-bottom: 30px;
}



.List{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}



.ListItem{
    width: 50%;
    margin-bottom: 10px;
    text-decoration: none;
}
.ListItem:hover {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: yellow;
}


.Right{
    flex: 1;
    padding: 20px;
}


.ContactItem{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.Payment{
    width: 50%;
}

.fpart{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #131313;
    color: #fff;
    padding: 10px;
}

@media screen and (max-width: 592px) {
  .Left {
    width: 100%;
  }
  .Center {
    width: 100%;
  }
  .container {
    flex-direction: column;
  }
  .Right {
    width: 100%;
  }
}